# Rdis configuration, for production use a real redis server
# For local development, you can use a docker container
REDIS_URL = 'redis://redis:6379/1'

# Exposed FastAPI port
EXPOSED_PORT = 10103

RAGFLOW_BASE_URL = ''
RAGFLOW_API_KEY = ''
RAGFLOW_STREAM = False
TENDER_KNOWLEDGE_BASE = ''
TENDER_QUESTION_HEADER = 'From the knowledge Base, find the solution to the following requirement: 

'
VENDOR_QUESTION_HEADER = 'Regarding Salesforce, find the solution to the following requirement: 

'
PUBLIC_LLM_MODEL = 'gemini-2.0-flash'
NULL_RAGFLOW_ANSWER = 'the answer you are looking for is not found in the knowledge base'
PROCESSED_FILE_DIR = 'processed_files'
Q_COLUMN_WIDTH = 40
A_COLUMN_WIDTH = 80
REF_COLUMN_WIDTH = 40

GEMINI_API_KEY = ''
